<section class="profile">
  <h3>Name: <%= current_user.username %></h3>
  <div class="profile-events">
    <div class="created-events">
      <p>My created events:</p>
      <% if current_user.events.size.zero? %>
        <p>Nothing fun to see here. Try creating an event?</p>
      <% else%>
        <% current_user.events.each do |event| %>
          <%= render partial: "events/short_event_card", locals: { event: event } %>
        <% end %>
      <% end %>
    </div>

    <div class="attended-events">
      <h4>My attended events:</h4>
      <div class="events-container">
        <div class="events-container__list">
          <p>Past Events:</p>
          <% if current_user.events.size.zero? %>
            <p>No past attended events. Try attending an event?</p>
          <% else%>
            <% @past_events.each do |event| %>
              <%= render partial: "events/short_event_card", locals: { event: event } %>
            <% end %>
          <% end %>
        </div>

        <div class="events-container__list">
          <p>Future Events:</p>
          <% if current_user.events.size.zero? %>
            <p>No future events. Try attending an event?</p>
          <% else%>
            <% @future_events.each do |event| %>
              <%= render partial: "events/short_event_card", locals: { event: event } %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>