button {
  all: unset;
}

.primary-btn {
  padding: 0.5rem 0.75rem;
  color: white;
  background-color: var(--primary-color);
  border-radius: 12px;
  cursor: pointer;
}

.neutral-btn {
  padding: 0.5rem 0.75rem;
  color: white;
  background-color: var(--neutral-color);
  border-radius: 12px;
}