.event-card {
  background-color: #fff;
  border-radius: 12px;
  margin: 1rem 0;
  padding: 1rem 1.5rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  color: var(--neutral-color);
  display: flex;
  justify-content: space-between;
}


/* .event-card .event-card__side {
  width: 100%;
} */